@report_width: 400px;


#m2020-report {
    display: block;
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: 0;
    //overflow: auto;
    border: 1px solid black;
    padding: 25px;

    h2 {
        &:after {
            content: " :";
        }
    }

    table {
        tr {
            th {

            }

            td {

            }
        }
    }

    #table-ucs-list {

    }

    #table-error-list {

    }
}