@report_width: 400px;


#m2020-report {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    //overflow: auto;
    border: 1px solid #D3DAE6;
    padding: 20px;
    background: #F5F7FA;

    h2 {
        &:after {
            content: " :";
        }
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;

        tr {
            th {
                border: 1px solid black;
            }

            td {
                border: 1px solid black;

                &.error {
                    font-weight: bold;
                    color: red;
                }
                &.success {
                    font-weight: bold;
                    color: forestgreen;
                }
            }
        }
    }

    #table-ucs-list {

    }

    #table-error-list {

    }
}